# Django Settings
DJANGO_SECRET_KEY=django-insecure-&!41yrdpc#i3po@x5(xxml%+04@3u9b7k^8md_zf#0p6_fp3m0

# Database Settings
DB_NAME=my_financial_db
DB_USER=my_financial_user
DB_PASSWORD=my_financial_password
DB_HOST=localhost
DB_PORT=5432

SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"


# Optional: Debug settings
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1 